/* Largely copied from bootstrap.css legend */
.form-horizontal summary.form-group {
  display: list-item; /* To get the arrow. */
  font-size: 19.5px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

.form-horizontal summary.form-group:before {
  content: "";
  display: none;
}

h2 {
    margin-top: 2em;
}

form h2:first-child {
    margin-top: 0;
}

.form-horizontal legend.form-group,
.form-horizontal summary.form-group {
    margin-top: 2em;
    border-top: solid 2px #e5e5e5;
    border-bottom-width: 0;
    padding-left: 15px;
}

.form-horizontal .control-label {
    padding-top: 0;
}

.form-horizontal .radio, .form-horizontal .checkbox {
    padding-top: 0;
    padding-left: 20px;
    overflow: auto;
}

.form-group > span.control-label {
    font-weight: bold;
}

.form-group.required > span.control-label::before {
    color: #f00;
    content: "* ";
    font-weight: bold;
}

.form-group > .radio > label,
.form-group > .checkbox > label {
    padding-bottom: 8px;
    text-align: left;
}

.form-group.required > .radio > label::before {
    content: "";
}

.radio input, .checkbox input {
    float: left;
    clear: left;
    width: auto;
}

.radio label, .checkbox label {
    float: left;
    width: auto;
    padding-left: 0.5em;
}

.description {
    margin-top: 5px;
}

fieldset > .description {
    margin-left: 0;
}

/*
 * Register form
 */
/* Align text with logo */
#intro {
  position: relative;
  top: 12px;
}

/* make remarks textarea a bit wider */
#notes {
  width: 80%;
}

/*
 * Acumulus invoice status overview "form".
 */

.nav > li > a[href="#tab-acumulus-invoice"] {
  background-image: url("../image/acumulus/siel-logo.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 34px;
}

#tab-acumulus-invoice .inside {
  padding-right: 0;
  line-height: 1.4em;
}

/* Refund overview */
#tab-acumulus-invoice details {
  font-size: 13px;
  border: none;
}

#tab-acumulus-invoice .invoice-sent-concept {
  float: left;
  width: 85%;
}

/* Refund overview title */
#tab-acumulus-invoice summary {
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 6px;
}

#tab-acumulus-invoice .label {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  display: inline-block;
  padding-right: 1em;
}

#tab-acumulus-invoice .pdf {
  display: inline-block;
  padding-left: 15px;
  margin: 0.1em 1.5em 0.2em 0;
  background-image: url('../image/acumulus/icon-pdf.png');
  background-size: 12px 16px;
  background-repeat: no-repeat;
  background-position: left center;
}

#tab-acumulus-invoice .notice {
  box-shadow: none;
  margin: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width:  0;
}

#tab-acumulus-invoice .notice-info {
  color: #00a0d2;
}

#tab-acumulus-invoice .notice-warning {
  color: #ffb900;
}

#tab-acumulus-invoice label.notice-warning {
  font-weight: 900;
}

#tab-acumulus-invoice .notice-error {
  color: #bc3232;
}

#tab-acumulus-invoice .notice-success {
  color: #46b450;
}

#tab-acumulus-invoice .adminform > .form-group:nth-child(3) > div {
  float: left;
}

#tab-acumulus-invoice .adminform > .form-group:nth-child(4) {
  clear: left;
}

.acumulus-amount .amount {
  display: block;
  width: 6em;
  text-align: right;
}

.acumulus-amount .amount:nth-child(2) {
  display: inline-block;
}

.acumulus-amount .amount:last-child {
  border-top: 1px solid #444;
}

.acumulus-amount .amount .sign,
.acumulus-amount .amount .currency {
  float: left;
  width: 0.25em;
}

#tab-acumulus-invoice .adminform > .form-group:nth-child(6) {
  border-top-width: 0;
}

#tab-acumulus-invoice .adminform > .form-group:last-child {
  border-top: 1px solid #ededed;
}

/*
 * EU Commerce threshold progress bar
 */
.acumulus-progressbar, .acumulus-progress, .acumulus-threshold {
  display: inline-block;
}

.acumulus-progressbar {
  box-sizing: border-box;
  position: relative;
  width: 75%;
  max-width: 20em;
  height: 2em;
  border-radius: 16px;
  background-color: lightgrey;
}

.acumulus-progress {
  box-sizing: border-box;
  padding: 2px 0.5em 0;
  border-radius: inherit;
  height: 100%;
}

.acumulus-error {
  background-color: #bc3232;
  color: white;
}

.acumulus-warning {
  background-color: #ffb900;
}

.acumulus-ok {
  background-color: #46b450;
}

.acumulus-threshold {
  box-sizing: border-box;
  padding-left: 0.3em;
  width: 24%;
  height: 2em;
}
